In [1]:
import sqlite3

In [2]:
connection=sqlite3.connect('example.db')
connection

In [3]:
cursor=connection.cursor()

In [5]:
cursor.execute('''CREATE TABLE IF NOT EXISTS employees (
               id INTEGER PRIMARY KEY,
               name TEXT NOT NULL,
               age INTEGER,
               department TEXT)'''
               )

connection.commit()

In [6]:
import sqlite3

# Step 1: Connect to the database
connection = sqlite3.connect('employees.db')

# Step 2: Create a cursor object
cursor = connection.cursor()

# Step 3: Execute the SQL query to create the table (if it doesn't exist already)
cursor.execute('''CREATE TABLE IF NOT EXISTS employees (
               id INTEGER PRIMARY KEY,
               name TEXT NOT NULL,
               age INTEGER,
               department TEXT)'''
               )

# Step 4: Insert data into the table
cursor.execute("INSERT INTO employees (id, name, age, department) VALUES (1, 'John Doe', 28, 'HR')")
cursor.execute("INSERT INTO employees (id, name, age, department) VALUES (2, 'Jane Smith', 32, 'Finance')")
cursor.execute("INSERT INTO employees (id, name, age, department) VALUES (3, 'Alice Johnson', 24, 'IT')")
cursor.execute("INSERT INTO employees (id, name, age, department) VALUES (4, 'Bob Brown', 30, 'Marketing')")

# Step 5: Commit the changes to save the data
connection.commit()

# Step 6: Retrieve and print the data row by row
cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()  # Fetch all rows

# Step 7: Print each row
for row in rows:
    print(row)

# Step 8: Close the connection to free up resources
connection.close()

(1, 'John Doe', 28, 'HR')
(2, 'Jane Smith', 32, 'Finance')
(3, 'Alice Johnson', 24, 'IT')
(4, 'Bob Brown', 30, 'Marketing')